//- ВНИМАНИЕ! Этот файл генерируется автоматически. Не пишите сюда ничего вручную!
//- Читайте ./README.md для понимания.

include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug
