
// Fonts Primary
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&subset=devanagari,latin-ext'); //pimary-font-family

// Fonts Secondary
@import url('https://fonts.googleapis.com/css?family=Cormorant:300,400,500,600,700&subset=cyrillic,cyrillic-ext,latin-ext');//secondary-font-family

//Миксин который принимает значения на стилизацию шрифтов
// 1 ($font-size) значение которое принимает - размер
// 2 ($font-color) значения которое принимает - цвет
// 3 ($font-weight)значения которое принимает - насыщенность
// 4 ($font-family) значения которое принимает - название шрифта (не обовзязкове)
// Пример использования - @include font(16px, $black, $font-weight_semibold, $font-family);

@mixin font ($font-size: 16px, $font-color: $black, $font-weight: $font-weight_regular, $font-family: $primary-font-family) {
  font-size: $font-size;
  color: $font-color;
  font-weight: $font-weight;
  font-family: $font-family;
}

body {
  @include font($font-size_root, $black, $font-weight_regular, $primary-font-family);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  word-break: normal;
}

a {
  text-decoration: none;
  color: $black;
}
