// Базовые цвета https://colorscheme.ru/color-converter.html

$color-primary:               #232b34;

$secondary-color:             #dfbc82;

$yellow:                      #f8c504;
$orange:                      #fcbb0d;
$purple:                      #5b38d5;
$purple-dark:                 #250d41;
$brown:                       #3a2f0e;
$green:                       #07bfa7;
$blue:                        #126de6;
$blue-light:                  #739eed;
$gray:                        #7e7e7e;
$black:                       #333333;
$white:                       #ffffff;
$white-pearl:                 #cfcfec;


//$color-primary:               $primary-color;
$color-secondary:             $secondary-color;

$color-text_gray:             $gray;
$color-text_black:            $black;
$color-text_light:            $white-pearl;
$color-text_opacity:          mix($white, $black, 20%);

// Цвета для форм

$color-border-form:           mix($white, $blue, 80%);
$color-hover-bg:              mix($white, $blue, 95%);

/* Градиенты */

$gradient-main:               linear-gradient(135deg, #3a00a4 0%, #0396ff 100%);

// Базовая типографика


/* Fonts */
$primary-font-family:        'Poppins', sans-serif;
$secondary-font-family:      'Cormorant', sans-serif;

$font-weight_thin:           100;
$font-weight_light:          300;
$font-weight_regular:        400;
$font-weight_medium:         500;
$font-weight_semibold:       600;
$font-weight_bold:           700;
$font-weight_extra-bold:     800;

$font-size_root:             16px;

$font-size:                  1rem; // rem(16px)

$font-size_h1:               rem(48px);
$font-size_h2:               rem(32px);
$font-size_h3:               rem(24px);
$font-size_h4:               rem(18px);
$font-size_h5:               rem(16px);
$font-size_h6:               rem(16px);

$line-height:                2;

// Ширины


$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   767.98px;
$screen-lg:                   991.98px;
$screen-xl:                   1199.98px;
$screen-xxl:                  1800px;


/////////////////////////////////////////
// Написать миксин для медиа запросов!!!
/////////////////////////////////////////

// Разное

$transition_fast:             all ease-in-out 0.4s;
$transition_slow:             all ease 0.8s;

/////////////////////////////////////////
// Падинги
/////////////////////////////////////////


@mixin background-opacity($color, $opacity: 0.3) {
  background-color: rgba($color, $opacity);
}
