.breadcrumb {
  position: absolute;
  z-index: 2;

  &__item {
    @include font(13px, $blue, $font-weight_regular);
    line-height: 30px;
    position: relative;
    transition: $transition_fast;

    &:hover {
      color: $blue-light;
    }

    &:first-child {
      border-bottom: .1px solid #b6d1f7;
    }

    & + &:before {
      display: inline-block;
      padding-right: .5rem;
      padding-left: .5rem;
      color: $black;
      content: '>';
    }

    &.active {
      color: $black;
      border-bottom: none;

      &:before {
        display: inline-block;
        padding-right: .5rem;
        padding-left: .5rem;
        color: $black;
        content: '>';
      }
    }
  }
}
