// Имя:             Buttons
// Описание:        Основные стили и модификаторы для всех кнопок проекта
//
// Компонент:       `button`
//
// Модификаторы:    `button_transparent` - прозрачная кнопка с border
//                  `button_green` - зелёная кнопка
//                  `button_blue` - голубая кнопка
//                  `button_white` - белая кнопка
//                  `button_small` - маленькая кнопка
//                  `button_shadow` - добавление тени
//                  `button_arrow` - добавление стрелки внутри кнопки
//                  `button_color-grey` - добавление цвета текста с прозрачностю 0.7
//
// ========================================================================

// Переменные
// ========================================================================

$button-standard-height: 55px !default;
$button-small-height: 40px !default;
$button-video-height: 73px !default;

$button-box-shadow: 0 7px 24px rgba(198, 71, 107, 0.32);

/* ========================================================================
   Компонент: Buttons
 ========================================================================== */

/*
 * 1.
 *
 */

.button {
  display: inline-block;
  height: $button-standard-height;
  line-height: $button-standard-height;
  @include font(12px, $color-secondary, $font-weight_bold);
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
  position: relative;

  &:active,
  &:focus {
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
  }

  /* Телефон в горизонтальном положение и шире */
  @media (min-width: $screen-md) {
  }

  /* Планшет в горизонтальном положение и шире */
  @media (min-width: $screen-xl) {
  }

  /* Модификаторы
 ========================================================================== */

  &_primary {
    background-color: $color-secondary;
    color: $white;
    transition: $transition_fast;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid $color-secondary;
      position: absolute;
      top: 8px;
      left: 8px;
      transition: $transition_fast;
      z-index: -1;
      opacity: 0;
    }

    &:hover {
      box-shadow: 0 10px 30px rgba(223, 188, 130, 0.5);

      &:after {
        opacity: 1;
      }
    }
  }

  &_light {
    background-color: $white;
    border: 1px solid $color-secondary;
    transition: $transition_fast;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid $color-secondary;
      position: absolute;
      top: 8px;
      left: 8px;
      transition: $transition_fast;
      z-index: -1;
      opacity: 0;
    }

    &:hover {
      background-color: $color-secondary;
      color: $white;

      &:after {
        opacity: 1;
      }
    }
  }



  &_video {
    @include font(16px, $white, $font-weight_bold);
    letter-spacing: 3.2px;
    background-color: transparent;
    box-shadow: 0 20px 32px rgba(0, 0, 0, 0.15);
    border: 2px solid $color-primary;
    height: $button-video-height;
    line-height: $button-video-height;
    max-width: 250px;
    text-align: center;
    display: block;

    &:hover {
      background-color: $color-primary;
      color: $black;

      svg {
        fill: $black;
      }
    }

    svg {
      fill: $white;
      transition: all ease-in-out 0.4s !important;
      margin-right: 15px;
    }
  }

  &_small {
    height: $button-small-height;
    line-height: $button-small-height;
  }

  &_full {
    width: 100%;
    text-align: center;
  }

  &_high {
    height: 60px;
    line-height: 60px;
  }
}
