extends ../layouts/layout.pug

block meta
  title Index
  meta(name='description', content='')

//- block append head
//- link(rel='stylesheet', href='css/some.css')

block content
  +b.content-index CONTENT
    