//- Стандартный шаблон страницы

include ../mixins/mixins
include ../plugins/pug-bem/index

doctype html
html(class='no-js  page', lang='eng')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='date=no')
        meta(name='format-detection', content='address=no')
        meta(name='format-detection', content='email=no')
        meta(content='notranslate', name='google')
        //- Фавиконки (https://realfavicongenerator.net)
        link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
        link(rel='manifest', href='/site.webmanifest')
        link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='theme-color', content='#ffffff')

        block meta
            title Home

        block head
            link(rel='stylesheet', href='css/main.css')

    body
      block header
        +header

      block content

      block footer
        +footer

      script(type='text/javascript' src='js/main.min.js')

